
    body {
  font-family: Epilogue;
  font-weight: 400;
  margin: 5;
  padding: 3px;
  background-color: #f7e0e7;
  line-height: 1.3;
}
h1 {
  color: #333333;
  line-height: 0.5;
}
h3 {
  color: #252525;
  line-height: 1.5;
}
.recipe {
  background-color: #f3ebeb;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.ingredients, .instructions {
  margin-top: 20px;
}
.ingredients ul, .instructions ol {
  padding-left: 20px;
}
a {
  text-decoration: none; 
  color: black;
  font-weight: 500;
  line-height: 1.5;
}

.notes {
  background-color: #f3ebeb;
  margin-top: 10px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notes ul, .notes ol {
  padding-left: 20px;
}

.highlight-text {
  font-weight: 700;
}

ul li {
  list-style-type: disc;
}

ul ul li {
  list-style-type: circle;
}

ol li {
  list-style-type: values;
}

ol li li {
  list-style-type: lower-alpha ;
}

h3.menu{
  font-weight: 600;
  text-align: right;
}

.main_menu li{
  list-style-type: none;
  padding: 10px 16px;
  border-bottom: 2px solid #ebcfcf;
  background-color: #f3ebeb;
  margin: 5px;
  
}

h4 {
  font-weight: 600;
  text-align: center;
  font-size: 125%;
}