
    body {
  font-family: Epilogue;
  font-weight: 400;
  margin: auto;
  padding: 12px;
  background-color: #f7e0e7;
  line-height: 1.3;
  max-width: 500px;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  
  
}
h1 {
  color: #333333;
  line-height: 1.1;
}
h3 {
  color: #252525;
  line-height: 1.5;
}
.recipe {
  background-color: #f3ebeb;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.ingredients, .instructions {
  margin-top: 20px;
}
.ingredients ul, .instructions ol {
  padding-left: 20px;
}
a {
  text-decoration: none; 
  color: black;
  font-weight: 500;
  line-height: 1.5;
  display: block;
  padding: 5px;
}


.notes {
  background-color: #f3ebeb;
  margin-top: 10px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notes ul, .notes ol {
  padding-left: 20px;
}

.highlight-text {
  font-weight: 700;
}

ul li {
  list-style-type: disc;
}

ul ul li {
  list-style-type: circle;
}

ol li {
  list-style-type: values;
}

ol li li {
  list-style-type: lower-alpha ;
}

h3.menu{
  font-weight: 600;
  text-align: right;
}

.main_menu li{
  list-style-type: none;
  padding: 10px 15px;
  border-bottom: 2px solid #ebcfcf;
  background-color: #f3ebeb;
  margin-top: 4px;
  border-radius: 10px;
  
}

h4.main_menu {
  font-weight: 600;
  text-align: center;
  font-size: 125%;
}

#recipes {
  width: 100%;
  font-size: 18px;
  padding: 0px;
  border: 0px solid #ddd;
}

#recipes_search {
  width: 99%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  text-indent: 20px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-bottom: 2px solid #ebcfcf;
  border-radius: 10px;
  
}

.input-wrapper {
  position: relative;
  display: inline;
  font-family: Epilogue;
  font-weight: 500;
  font-size: 18px;
}

.input-wrapper input {
  padding-right: 10px;
  font-family: Epilogue;
  font-weight: 400;
  font-size: 18px;
  background-color: #f3ebeb;
  border:none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding-left: 15px;
  width: 40px;
  height: 35px;
}

.input-wrapper button {
  font-family: Epilogue;
  font-weight: 500;
  font-size: 18px;
  top: 0;
  right: 0;
  margin-left: 5px;
  height: 37px;
  border:none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color:#f3ebeb;
  cursor: pointer;
}

.input-wrapper label {
  font-family: Epilogue;
  font-weight: 500;
  font-size: 18px;
}

.input-wrapper select {
  padding-right: 10px;
  font-family: Epilogue;
  font-weight: 400;
  font-size: 18px;
  background-color: #f3ebeb;
  border:none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 65px;
  height: 35px;
  max-width: 20%;
  text-align: center;
}


